<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Page - TEKKI</title>
    <link th:href="@{/styles/game.css}" rel="stylesheet" />
</head>
<video autoplay muted loop id="background-video">
    <source th:src="@{/background.mp4}" type="video/mp4">
</video>
<body>
<div class="container">
    <h1>C'est parti ! 🤓</h1>
    <p>Sélectionnez une question à poser :</p>
    <form id="questionsSelect" action="/askQuestion" method="post">
        <select name="questionId">
            <option th:each="question : ${questions}" th:value="${question.id}" th:text="${question.text}"></option>
        </select>
        <div class="buttons">
            <button type="button" class="askButton" onclick="askQuestion()">Je pose la question !</button>
            <button class="guessButton" onclick="window.location.href='/guess'">Je veux deviner tekki !</button>
        </div>
    </form>
    <div class="buttons">
        <button class="askButton" type="submit">Je pose la question !</button>
        <button class="guessButton" onclick="window.location.href='/guess'">Je veux deviner tekki !</button>
    </div>
</div>
<script>
    </script>
</body>
</html>
