body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: white;
    background-color: #282c34;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
}

p {
    font-size: 1.5em;
    margin-bottom: 20px;
}


select {
    width: 60%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top:20rem;
}

button {
    font-weight: 600;
    color: #484c7a;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-out;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    transform: scale(1.05);
}

#questionsSelect {
    width:100%;
display: flex;
justify-content: center;
    flex-direction: column;
}