body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: white;
    background-color: #282c34;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
    height: 100vh;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    font-weight: 600;
    color: #484c7a;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-out;
    text-decoration: none;
    text-align: center;
    line-height: 1;
    margin-bottom: 1rem;
}

.button:hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    transform: scale(1.05);
}
