body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: white;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


.header {
    color: #f5f6fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
    font-weight: bold; /* Met le texte en gras */
    transition: transform 0.3s ease-in-out;
    text-shadow: rgba(0,0,0,0.5) 0px 3px 3px;
    }
p {
    font-size: 1.5em;
}


h1:hover {
    transform: scale(1.2) rotate(5deg);
}

.startButton {

    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    color: rgb(72, 76, 122);
    font-size: 14px;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg,#fff,#f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all .2s ease-out;
    :hover{
        box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
    }

}
